<!DOCTYPE html>
<html>
<head>
  <title>EMarket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= link_to  "注销",  destroy_admin_session_path, method: :delete  %>
</body>
</html>
